{% extends 'user_registration/base.html' %}
{% block content %}
    <br>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">                
                {{field.label_tag}}  {{field}} <br><br>
                {% if field.errors %}
                    {{field.errors}}
                {% endif %}                
            </div>            
        {% endfor %}  
        <input class="btn btn-primary btn-sm" type="submit" value="Register">
        <small style="color:blue">Already have an account ?</small>
        <a href="/">Login</a>
    </form>
{% endblock  %}
    
    
